* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eff1f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  max-width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

nav .logo {
  width: 76px;
  height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  animation: Spin 0.5s linear 1;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

nav .logo a {
  text-decoration: none;
  color: #6070ff;
}

nav .menu-bar {
  font-size: 30px;
  color: #6070ff;
}

nav .drop-down {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.drop-down ul {
  list-style: none;
}

.drop-down ul li a {
  text-decoration: none;
}

.headline-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 85vh;
  background-color: #fff;
  background-image: url('assets/Header\ bg@2x.png');
  background-size: cover;
  padding: 30px;
  padding-block-end: 100px;
  border-radius: 0 0 0 80px;
}

.headline-section h1 {
  font-weight: 700;
  font-size: 48px;
  color: #091e42;
}

.headline-section,
.about-myself-description p {
  font-weight: 400;
  font-size: 20px;
  padding-block: 10px;
}

.headline-content {
  width: 90%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.lets-connect h4 {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-block: 20px;
}

.social-icons ul {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 10px;
  list-style: none;
}

.social-icons i {
  color: #505f79;
  font-size: 30px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  row-gap: 60px;
  padding-inline: 30px;
  margin-block-start: 70px;
  margin-block-end: 50px;
}

.project-item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(199, 194, 194);
  padding: 15px;
}

.project-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

.project-image img:hover {
  transform: scale(1.1);
}

.project-details {
  display: block;
  padding-inline: 7px;
  margin-block: 12px;
}

.project-details h3 {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.canopy-para {
  padding-block: 20px;
}

.canopy-para span {
  font-weight: 700;
  font-size: 13px;
  color: #344563;
}

.canopy-para img {
  padding-inline: 10px;
}

.canopy-para p {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.mini-description {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.language-tags {
  margin-block: 12px;
}

.language-tags ul {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
}

.language-tags ul div {
  padding: 5px;
  padding-inline: 10px;
  border-radius: 7px;
  background-color: #ebebff;
}

form button {
  align-self: flex-start;
  margin-left: 8%;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: white;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}

.project-detail-btn button {
  padding: 12px;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  background-color: white;
  border-radius: 8px;
  margin-block: 5px;
  transition: 0.5s;
}

form button:hover {
  background-color: #6f95f7;
  color: white;
}

form button:active {
  background-color: #1755f3;
}

.project-detail-btn button:hover {
  background-color: #6f95f7;
  color: white;
}

.project-detail-btn button:active {
  background-color: #1755f3;
}

.about-myself-section {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 80px 0 0;
  background-color: #fff;
  padding-block: 114px;
}

.about-myself-description {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #344563;
  padding-inline: 30px;
  margin-top: 30px;
}

.about-myself-description h2 {
  font-weight: 700;
  font-size: 48px;
  color: #091e42;
}

.about-me-icons ul {
  margin-block: 20px;
}

.about-myself-skills {
  margin-block: 40px;
  padding-inline: 30px;
}

.about-myself-skills ul {
  list-style: none;
}

.about-myself-skills ul li {
  padding-block: 15px;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #dfe1e6;
}

.language-tags ul div li {
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.skill-and-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languages-drop-down {
  margin-block: 20px;
}

.languages-drop-down ul div {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  height: 15px;
  width: 100%;
  padding-block: 25px;
  padding-inline-start: 10px;
  background-color: #f7f7f9;
  margin-block: 10px;
  border-radius: 5px;
}

.languages-drop-down ul div li {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  border: none;
}

.about-myself-skills .frameworks-drop-down {
  display: none;
}

.about-myself-skills .skills-drop-down {
  display: none;
}

footer {
  background-color: white;
  margin: 0;
  max-width: 100%;
}

.footer-design {
  height: fit-content;
  max-width: 100%;
  background-color: #6070ff;
  background-image: url('assets/contact\ form\ background\ shapes@2x.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block-start: 100px;
  border-radius: 80px 0 0 0;
}

.contact-description {
  text-align: center;
  margin-inline: 30px;
  transition: 0.5s;
}

.contact-description:hover{
  transform: translateX(15px);
}

.contact-description h3 {
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.contact-description p {
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin-block: 9px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 40px;
  gap: 20px;
}

form input {
  width: 80%;
  height: 48px;
  border: none;
  border-radius: 8px;
  padding-inline: 10px;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
}

form textarea {
  width: 80%;
  height: 170px;
  border: none;
  border-radius: 8px;
  padding-inline: 10px;
  padding-block: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #172b4d;
}

@media (min-width: 768px) {
  nav .menu-bar {
    display: none;
  }

  nav {
    justify-content: space-around;
    gap: 490px;
  }

  nav .drop-down {
    display: inline-block;
    position: inherit;
  }

  .drop-down ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .drop-down ul li a {
    color: #344563;
  }

  .headline-section {
    padding-block: 150px;
    border-radius: 0 0 0 120px;
  }

  .headline-content {
    width: 65%;
  }

  .headline-content h1 span::after {
    content: "\a";
    white-space: pre;
  }

  .grid-container {
    row-gap: 130px;
    margin-block-start: 130px;
    margin-block-end: 100px;
  }

  .project-item:nth-of-type(1),
  .project-item:nth-of-type(3) {
    flex-direction: row;
    gap: 20px;
  }

  .project-item:nth-of-type(2),
  .project-item:nth-of-type(4) {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .project-image {
    width: 100%;
  }

  .project-details {
    width: 100%;
  }

  .project-details h3 {
    font-size: 40px;
  }

  .canopy-para p {
    font-weight: 400;
    font-size: 18px;
  }

  .canopy-para span {
    font-weight: 500;
    font-size: 18px;
    color: #344563;
  }

  .language-tags ul div li {
    font-weight: 500;
    font-size: 15px;
    color: #6070ff;
  }

  .mini-description {
    font-weight: 400;
    font-size: 17px;
    color: #344563;
  }

  .about-myself-section {
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 120px 0 0;
  }

  .about-myself-description {
    width: 100%;
    margin-left: 5%;
  }

  .about-myself-skills {
    width: 100%;
    margin-right: 5%;
  }

  .footer-design {
    border-radius: 120px 0 0 0;
  }

  .contact-description {
    margin-inline: 32%;
  }

  form {
    margin-inline: 32%;
  }

  form input,
  form textarea {
    border-radius: 0;
  }

  form button {
    align-self: center;
    margin-left: 0;
  }
}
